* {
  box-sizing: border-box;
  transition: 0.3s;
  color: $dark-green;
}
body {
  margin: 0px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17.5px;
}
a {
  text-decoration: none;
}
.blog-post-main p {
  a {
    color: #0f212b;
    text-decoration: underline;
  }
}
